
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Record</h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for (@balance) do |f| %>
          <%= f.input :title %>
          <%= f.input :amount %>
          <%= f.input :date, as: :date, start_year: Date.today.year - 10,
                                      end_year: Date.today.year, discard_day: false,
                              order: [:day, :month, :year] %>
          
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit 'Add', class:'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
    <h3>Balance: <%= @balance_sum %></h3>
    <h3>Debt: <%= @balance_debt %></h3>
    <h2>Total: <%= @total %></h2>
    <br /><br />
  <table class="table table-hover">
      <tr>
          <td><b>Date</b></td>
          <td><b>Title</b></td>
          <td><b>Amount</b></td>
          <td></td>
          <td></td>
      </tr>
      <% @balances.each do |balance| %>
      <tr>
          <td><%= balance.date %></td>
          <td><%= balance.title %></td>
          <td><%= balance.amount %></td>
          <td><%= link_to 'Edit', edit_balance_path(balance), class: 'btn btn-sm btn-warning', title:'Edit' %></td>
          <td><%= link_to 'Delete', balance_path(balance), method: :delete, class: 'btn btn-sm btn-danger', title:'Delete', data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
  </table>
</div>

